[model_selection]
model_name = frcnn

[faster_rcnn_model]
config_path = .\hat_detection\faster_rcnn_resnet50.config
PATH_TO_FROZEN_GRAPH = D:\project3_faster_rcnn\models-master\research\hat_detection\saved_models\faster_rcnn_resnet50_single_nohat\frozen_inference_graph.pb
PATH_TO_LABELS = D:\project3_faster_rcnn\models-master\research\hat_detection\hat_label_map.pbtxt
use_normalized_coordinates=True

[test_video_config]
frame_num_for_judge=10
nms_threshold=0.7
min_prob=0.5
min_x=0.02
min_y=0.01
min_area=0.001
min_ratio = 0.5
interval = 5

[rstp_video_address]
video_rstp_address1 = rtsp://61.166.49.242:554/pag://61.166.49.242:7302:017191:0:MAIN:TCP?cnid=1&pnid=1&auth=50&streamform=rtp
video_rstp_address2 = rtsp://61.166.49.242:554/pag://61.166.49.242:7302:017192:0:MAIN:TCP?cnid=1&pnid=1&auth=50&streamform=rtp
video_rstp_address3 = rtsp://61.166.49.242:554/pag://61.166.49.242:7302:017193:0:MAIN:TCP?cnid=1&pnid=1&auth=50&streamform=rtp
output_video_path =
out_log_path = D:\project3_faster_rcnn\models-master\research\hat_detection\test_log\rstp_result\


[frcnn_test_video_path]
video_list_path = D:\project3_faster_rcnn\models-master\research\hat_detection\video_data\miss
video_path = .\hat_detection\video_data\test_video\D21_S20181116120035E20181116123059.mp4
output_video_path =
out_log_path = D:\project3_faster_rcnn\models-master\research\hat_detection\test_log\video_list_result

[test_image_path]
image_path = D:\project3_faster_rcnn\models-master\research\hat_detection\test_log\image\
output_image_path = D:\project3_faster_rcnn\models-master\research\hat_detection\test_log\images_result\




