[model_selection]
model_name = yolo

[faster_rcnn_model]
pipeline_config_path = D:\project3_faster_rcnn\models-master\research\hat_dataset\faster_rcnn_resnet50.config
model_dir = D:\project3_faster_rcnn\models-master\research\hat_dataset\checkpoints\faster_rcnn_resnet50\


[yolo_v3]
annotation_path = D:\project3_faster_rcnn\models-master\research\hat_dataset\hat_dataset_yolo3\train_list.txt
log_dir = D:\project3_faster_rcnn\models-master\research\hat_dataset\hat_dataset_yolo3\logs\1231\
classes_path = D:\project3_faster_rcnn\models-master\research\hat_dataset\hat_dataset_yolo3\model_data\hat_classes.txt
anchors_path = D:\project3_faster_rcnn\models-master\research\hat_dataset\hat_dataset_yolo3\model_data\yolo_anchors.txt
initial_weights_path = D:\project3_faster_rcnn\models-master\research\hat_dataset\hat_dataset_yolo3\model_data\yolo.h5

val_split = 0.1
first_stage_train_batch = 32
first_stage_train_lr = 0.001
first_stage_train_epochs = 50

second_stage_train_batch = 8
second_stage_train_lr = 0.0001
second_stage_train_epochs = 1000

score = 0.3
iou = 0.45
gpu_num = 1
use_normalized_coordinates=False




