[model_selection]
model_name = frcnn

[faster_rcnn_model]
pipeline_config_path = ./hat_detection/model_training/faster_rcnn_resnet50.config
model_dir = ./hat_detection/model_training/checkpoints/


val_split = 0.1
first_stage_train_batch = 32
first_stage_train_lr = 0.001
first_stage_train_epochs = 50

second_stage_train_batch = 8
second_stage_train_lr = 0.0001
second_stage_train_epochs = 1000

score = 0.3
iou = 0.45
gpu_num = 1
use_normalized_coordinates=False




